## Imports

In [9]:
from stockscafe.StocksCafe import StocksCafe

## Parameters

In [10]:
exchange = 'SGX'
symbol = 'D05'

## Create StocksCafe object

In [11]:
sc = StocksCafe()

## Get Recent Prices (Includes high, low, open, close etc)

In [12]:
sc.getPrices(exchange, symbol, 10)

,change,change_percent,close,currency,date,high,low,open,volume
0,0.200,0.81%,25.01,SGD,22 Feb 2019,25.07,24.70,24.70,"4,219,570"
1,-0.270,-1.08%,24.81,SGD,21 Feb 2019,25.00,24.70,24.81,"5,993,300"
2,-0.020,-0.08%,25.08,SGD,20 Feb 2019,25.30,25.05,25.23,"3,509,000"
3,-0.100,-0.40%,25.10,SGD,19 Feb 2019,25.33,25.10,25.22,"3,293,078"
4,0.410,1.65%,25.20,SGD,18 Feb 2019,25.29,24.89,25.00,"5,147,100"
5,-0.180,-0.72%,24.79,SGD,15 Feb 2019,24.99,24.63,24.88,"4,885,800"
6,0.070,0.28%,24.97,SGD,14 Feb 2019,24.97,24.78,24.78,"4,105,200"
7,0.560,2.30%,24.90,SGD,13 Feb 2019,24.90,24.53,24.58,"5,086,200"
8,-0.020,-0.08%,24.34,SGD,12 Feb 2019,24.41,24.28,24.39,"2,678,500"
9,0.060,0.25%,24.36,SGD,11 Feb 2019,24.44,24.01,24.01,"3,230,000"

## How many API calls you have made today (Daily Limit = 100, Reset at 12am SGT)

In [14]:
sc.getApiCount()

   count  latency_ms      result  result_boolean   timestamp
0      4           2  Successful            True  1550998369