## Get Prices

In [1]:
from stockscafe.StocksCafe import StocksCafe
sc = StocksCafe()
df = sc.getPrices('SGX', 'D05', 100)
df.tail()

,change,change_percent,close,currency,date,high,low,open,volume
95,0.010,0.04%,25.77,SGD,5 Oct 2018,25.99,25.61,25.92,"3,471,800"
96,-0.190,-0.73%,25.76,SGD,4 Oct 2018,25.89,25.50,25.77,"3,400,500"
97,0.320,1.25%,25.95,SGD,3 Oct 2018,26.04,25.65,25.65,"3,885,100"
98,-0.340,-1.31%,25.63,SGD,2 Oct 2018,25.87,25.45,25.85,"3,367,400"
99,-0.120,-0.46%,25.97,SGD,1 Oct 2018,26.14,25.90,26.09,"2,140,900"

## Momemtum Indicators

In [2]:
# Moving Average
import stockscafe.indicators.momentum.MovingAverage as MA
ma = MA.compute(df, 20) # Compute and add to Data Frame
ma.tail()

,change,change_percent,close,currency,date,high,low,open,volume,sma20
95,0.410,1.65%,25.20,SGD,18 Feb 2019,25.29,24.89,25.00,"5,147,100",24.4510
96,-0.100,-0.40%,25.10,SGD,19 Feb 2019,25.33,25.10,25.22,"3,293,078",24.4490
97,-0.020,-0.08%,25.08,SGD,20 Feb 2019,25.30,25.05,25.23,"3,509,000",24.4525
98,-0.270,-1.08%,24.81,SGD,21 Feb 2019,25.00,24.70,24.81,"5,993,300",24.4655
99,0.200,0.81%,25.01,SGD,22 Feb 2019,25.07,24.70,24.70,"4,219,570",24.5080

## Oscillator Indicators

In [3]:
# RSI
import stockscafe.indicators.oscillator.RSI as RSI
rsi = RSI.compute(df, 14)
rsi.tail()

,change,change_percent,close,currency,date,high,low,open,volume,rsi14
95,0.410,1.65%,25.20,SGD,18 Feb 2019,25.29,24.89,25.00,"5,147,100",66.096722
96,-0.100,-0.40%,25.10,SGD,19 Feb 2019,25.33,25.10,25.22,"3,293,078",63.464724
97,-0.020,-0.08%,25.08,SGD,20 Feb 2019,25.30,25.05,25.23,"3,509,000",62.925034
98,-0.270,-1.08%,24.81,SGD,21 Feb 2019,25.00,24.70,24.81,"5,993,300",56.001475
99,0.200,0.81%,25.01,SGD,22 Feb 2019,25.07,24.70,24.70,"4,219,570",59.551710