### Author(s): evankoh


### Description
This notebook aim to list all the available indicators currently supported by StocksCafe Playground

### Get Prices

In [1]:
import os
os.chdir('../')
from stockscafe.StocksCafeApi import StocksCafeApi
sc = StocksCafeApi()
df = sc.getPrices('SGX', 'D05', 100)
df.tail()

,change,change_percent,close,currency,date,high,low,open,volume
95,-0.090,-0.37%,24.26,SGD,19 Oct 2018,24.38,24.19,24.20,"3,801,300"
96,-0.140,-0.57%,24.35,SGD,18 Oct 2018,24.62,24.29,24.55,"2,858,100"
97,0.250,1.03%,24.49,SGD,17 Oct 2018,24.75,24.43,24.58,"3,558,500"
98,-0.240,-0.98%,24.24,SGD,16 Oct 2018,24.59,24.20,24.57,"3,747,200"
99,0.060,0.25%,24.48,SGD,15 Oct 2018,24.61,24.25,24.55,"4,940,900"

### Momemtum Indicators

In [2]:
# Simple Moving Average
import stockscafe.indicators.momentum.MovingAverage as MA
ma = MA.compute(df, 20) # Compute and add to Data Frame
ma.tail()

,change,change_percent,close,currency,date,high,low,open,volume,sma20
95,0.420,1.67%,25.50,SGD,4 Mar 2019,25.50,25.11,25.11,"4,796,803",24.8180
96,-0.070,-0.27%,25.43,SGD,5 Mar 2019,25.45,25.24,25.35,"2,834,400",24.8860
97,-0.070,-0.28%,25.36,SGD,6 Mar 2019,25.54,25.21,25.30,"2,994,400",24.9450
98,-0.040,-0.16%,25.32,SGD,7 Mar 2019,25.50,25.27,25.37,"2,928,900",24.9945
99,-0.260,-1.03%,25.06,SGD,8 Mar 2019,25.22,25.02,25.05,"4,123,900",25.0325

In [3]:
# Exponential Moving Average
import stockscafe.indicators.momentum.MovingAverage as MA
ma = MA.computeExponential(df, 20) # Compute and add to Data Frame
ma.tail()

,change,change_percent,close,currency,date,high,low,open,volume,ema20
95,0.420,1.67%,25.50,SGD,4 Mar 2019,25.50,25.11,25.11,"4,796,803",24.887714
96,-0.070,-0.27%,25.43,SGD,5 Mar 2019,25.45,25.24,25.35,"2,834,400",24.939360
97,-0.070,-0.28%,25.36,SGD,6 Mar 2019,25.54,25.21,25.30,"2,994,400",24.979421
98,-0.040,-0.16%,25.32,SGD,7 Mar 2019,25.50,25.27,25.37,"2,928,900",25.011857
99,-0.260,-1.03%,25.06,SGD,8 Mar 2019,25.22,25.02,25.05,"4,123,900",25.016442

### Oscillator Indicators

In [3]:
# RSI
import stockscafe.indicators.oscillator.RSI as RSI
rsi = RSI.compute(df, 14)
rsi.tail()

,change,change_percent,close,currency,date,high,low,open,volume,rsi14
95,0.170,0.68%,25.18,SGD,25 Feb 2019,25.25,24.94,25.00,"3,049,000",62.319981
96,-0.010,-0.04%,25.17,SGD,26 Feb 2019,25.26,24.98,25.26,"3,196,800",62.049648
97,-0.020,-0.08%,25.15,SGD,27 Feb 2019,25.40,25.02,25.05,"3,894,500",61.475286
98,-0.310,-1.23%,24.84,SGD,28 Feb 2019,25.25,24.84,25.25,"5,343,600",53.247836
99,0.240,0.97%,25.08,SGD,1 Mar 2019,25.22,24.93,24.97,"2,153,700",57.940924

In [ ]:
# Stochastic
import stockscafe.indicators.oscillator.Sto