### Author(s): evankoh


### Description
This notebook aim to list all the available indicators currently supported by StocksCafe Playground

### Get Prices

In [1]:
import os
os.chdir('../')
from stockscafe.StocksCafeApi import StocksCafeApi
sc = StocksCafeApi()
df = sc.getPrices('SGX', 'D05', 100)
df.tail()

,change,change_percent,close,currency,date,high,low,open,volume
95,0.220,0.93%,23.99,SGD,8 Nov 2018,24.19,23.84,24.05,"4,110,200"
96,-0.230,-0.96%,23.77,SGD,7 Nov 2018,24.17,23.62,24.01,"6,276,000"
97,-0.660,-2.68%,24.00,SGD,5 Nov 2018,24.33,23.97,24.20,"5,293,800"
98,0.710,2.96%,24.66,SGD,2 Nov 2018,24.68,24.05,24.22,"6,659,300"
99,0.490,2.09%,23.95,SGD,1 Nov 2018,23.99,23.71,23.88,"5,314,700"

### Momemtum Indicators

In [2]:
# Simple Moving Average
import stockscafe.indicators.momentum.MovingAverage as MA
ma = MA.compute(df, 20) # Compute and add to Data Frame
ma.tail()

,change,change_percent,close,currency,date,high,low,open,volume,sma20
95,0.040,0.16%,25.39,SGD,21 Mar 2019,25.49,25.37,25.48,"2,881,800",25.2065
96,-0.040,-0.16%,25.35,SGD,22 Mar 2019,25.45,25.22,25.40,"2,454,900",25.2235
97,-0.230,-0.91%,25.12,SGD,25 Mar 2019,25.12,24.75,24.94,"5,722,100",25.2205
98,-0.020,-0.08%,25.10,SGD,26 Mar 2019,25.40,24.97,25.20,"3,059,396",25.2170
99,0,0%,25.10,SGD,27 Mar 2019,25.27,25.04,25.12,"3,977,900",25.2145

In [3]:
# Exponential Moving Average
import stockscafe.indicators.momentum.MovingAverage as MA
ma = MA.computeExponential(df, 20) # Compute and add to Data Frame
ma.tail()

,change,change_percent,close,currency,date,high,low,open,volume,ema20
95,0.040,0.16%,25.39,SGD,21 Mar 2019,25.49,25.37,25.48,"2,881,800",25.156110
96,-0.040,-0.16%,25.35,SGD,22 Mar 2019,25.45,25.22,25.40,"2,454,900",25.174576
97,-0.230,-0.91%,25.12,SGD,25 Mar 2019,25.12,24.75,24.94,"5,722,100",25.169378
98,-0.020,-0.08%,25.10,SGD,26 Mar 2019,25.40,24.97,25.20,"3,059,396",25.162771
99,0,0%,25.10,SGD,27 Mar 2019,25.27,25.04,25.12,"3,977,900",25.156793

### Oscillator Indicators

In [4]:
# RSI
import stockscafe.indicators.oscillator.RSI as RSI
rsi = RSI.compute(df, 14)
rsi.tail()

,change,change_percent,close,currency,date,high,low,open,volume,rsi14
95,0.040,0.16%,25.39,SGD,21 Mar 2019,25.49,25.37,25.48,"2,881,800",58.425880
96,-0.040,-0.16%,25.35,SGD,22 Mar 2019,25.45,25.22,25.40,"2,454,900",57.213039
97,-0.230,-0.91%,25.12,SGD,25 Mar 2019,25.12,24.75,24.94,"5,722,100",50.696338
98,-0.020,-0.08%,25.10,SGD,26 Mar 2019,25.40,24.97,25.20,"3,059,396",50.161295
99,0,0%,25.10,SGD,27 Mar 2019,25.27,25.04,25.12,"3,977,900",50.161295

In [5]:
# Stochastic
import stockscafe.indicators.oscillator.Stochastic as Sto
sto = Sto.compute(df, 70, 30)
sto.tail()

,change,change_percent,close,currency,date,high,low,open,volume,%K70,%D30
95,0.040,0.16%,25.39,SGD,21 Mar 2019,25.49,25.37,25.48,"2,881,800",94.525547,NaN
96,-0.040,-0.16%,25.35,SGD,22 Mar 2019,25.45,25.22,25.40,"2,454,900",93.065693,NaN
97,-0.230,-0.91%,25.12,SGD,25 Mar 2019,25.12,24.75,24.94,"5,722,100",84.671533,NaN
98,-0.020,-0.08%,25.10,SGD,26 Mar 2019,25.40,24.97,25.20,"3,059,396",83.941606,89.040231
99,0,0%,25.10,SGD,27 Mar 2019,25.27,25.04,25.12,"3,977,900",83.941606,89.008096

### Other Indicators

In [6]:
# Close price % from X weeks low
import pandas as pd
import stockscafe.indicators.others.CloseFrom52wLow as ClLow
lookBackWeeks=1
clresults = ClLow.compute(df, window=lookBackWeeks)
# Order by latest prices first
clresults['date_dt']=pd.to_datetime(clresults['date'], format='%d %b %Y')
clresults.sort_values('date_dt', ascending=False).drop('date_dt', axis=1).head()

,change,change_percent,close,currency,date,high,low,open,volume,1w_low,1w_high,1w_close_percent
99,0,0%,25.10,SGD,27 Mar 2019,25.27,25.04,25.12,"3,977,900",24.75,25.49,47.297297
98,-0.020,-0.08%,25.10,SGD,26 Mar 2019,25.40,24.97,25.20,"3,059,396",24.75,25.49,47.297297
97,-0.230,-0.91%,25.12,SGD,25 Mar 2019,25.12,24.75,24.94,"5,722,100",24.75,25.49,50.000000
96,-0.040,-0.16%,25.35,SGD,22 Mar 2019,25.45,25.22,25.40,"2,454,900",25.14,25.49,60.000000
95,0.040,0.16%,25.39,SGD,21 Mar 2019,25.49,25.37,25.48,"2,881,800",24.97,25.49,80.769231