### Author(s): evankoh


### Description
This notebook aim to list all the available indicators currently supported by StocksCafe Playground

### Get Prices

In [1]:
import os
os.chdir('../')
from stockscafe.StocksCafeApi import StocksCafeApi
sc = StocksCafeApi()
df = sc.getPrices('SGX', 'D05', 100)
df.tail()

,change,change_percent,close,currency,date,high,low,open,volume
95,0.110,0.45%,24.42,SGD,12 Oct 2018,24.66,24.12,24.30,"4,536,200"
96,-0.640,-2.57%,24.31,SGD,11 Oct 2018,24.50,24.12,24.45,"8,390,500"
97,-0.310,-1.23%,24.95,SGD,10 Oct 2018,25.30,24.90,25.26,"3,967,600"
98,-0.210,-0.82%,25.26,SGD,9 Oct 2018,25.66,25.26,25.60,"3,686,800"
99,-0.300,-1.16%,25.47,SGD,8 Oct 2018,25.88,25.45,25.70,"3,118,700"

### Momemtum Indicators

In [2]:
# Moving Average
import stockscafe.indicators.momentum.MovingAverage as MA
ma = MA.compute(df, 20) # Compute and add to Data Frame
ma.tail()

,change,change_percent,close,currency,date,high,low,open,volume,sma20
95,0.170,0.68%,25.18,SGD,25 Feb 2019,25.25,24.94,25.00,"3,049,000",24.5570
96,-0.010,-0.04%,25.17,SGD,26 Feb 2019,25.26,24.98,25.26,"3,196,800",24.6045
97,-0.020,-0.08%,25.15,SGD,27 Feb 2019,25.40,25.02,25.05,"3,894,500",24.6510
98,-0.310,-1.23%,24.84,SGD,28 Feb 2019,25.25,24.84,25.25,"5,343,600",24.6820
99,0.240,0.97%,25.08,SGD,1 Mar 2019,25.22,24.93,24.97,"2,153,700",24.7390

### Oscillator Indicators

In [3]:
# RSI
import stockscafe.indicators.oscillator.RSI as RSI
rsi = RSI.compute(df, 14)
rsi.tail()

,change,change_percent,close,currency,date,high,low,open,volume,rsi14
95,0.170,0.68%,25.18,SGD,25 Feb 2019,25.25,24.94,25.00,"3,049,000",62.319981
96,-0.010,-0.04%,25.17,SGD,26 Feb 2019,25.26,24.98,25.26,"3,196,800",62.049648
97,-0.020,-0.08%,25.15,SGD,27 Feb 2019,25.40,25.02,25.05,"3,894,500",61.475286
98,-0.310,-1.23%,24.84,SGD,28 Feb 2019,25.25,24.84,25.25,"5,343,600",53.247836
99,0.240,0.97%,25.08,SGD,1 Mar 2019,25.22,24.93,24.97,"2,153,700",57.940924